$colors: red, yellow, green, orange, blue, purple, violet, turquoise, aqua;
$lighten: 5%, 10%, 15%, 20%, 30%, 35%;
$hsl: lighten, darken, saturate;
$repeat: 50;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-family: arial;
  font-size: 12px;
  .container {
    width: 800px;
    margin: 0px auto;
    .chart {
      display: inline-block;
      width: 100%;
      .item-wrapper {
        @extend .chart;
        .chartInfo {
          @extend .chart;
          margin-bottom: 20px;
        }
        .chartBox {
          display: inline-block;
          height: 60px;
          span {
            font-weight: bold;
            font-size: 12px;
            padding: 10px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.5);
            display: inline-block;
            margin: 12px 0px 0px 12px;
          }
        }
        @for $i from 0 through $repeat {
          $colorNode: nth($colors, random(length($colors)));
          $opac: nth($lighten, random(length($lighten)));
          .boxStyle--#{$i} {
            background-color: lighten($colorNode, $opac);
          }
        }
      }
    }
    .chartForm {
      margin: 20px 0px;
    }
  }
  .error {
    @extend .chart;
    background-color: red;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
}
